<div class="container mt-5">
  <div *ngIf="!isLoggedin() && !registerMode" style="text-align: center">
    <div class="text-center">
      <button class="btn btn-primary btn-lg mr-2" (click) = "toggleRegister()">Register</button>
      <button class="btn btn-info btn-lg">Learn more</button>
    </div>
  </div>

  <div *ngIf="!isLoggedin() && registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register (toggleRegister) = "toggleRegister()"></app-register>  
      </div>
    </div>
  </div>
</div>