<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/home']">Social App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active" *ngIf="isLoggedin()">
          <a class="nav-link" [routerLink]="['/postandcomments']" >Post & Comments</a>
        </li>
      </ul>
      <div *ngIf="isLoggedin()" class="dropdown" dropdown>
        <a class="dropdown-toggle text-light" dropdownToggle>
          Welcome {{authService.userName | titlecase}}
        </a>
        <div class="dropdown-menu mt-3" *dropdownMenu>
          <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i>Log Out</a>
        </div>
      </div>
      <form *ngIf="!isLoggedin()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
        <input class="form-control mr-sm-2" name="username" type="text" required placeholder="Username"
          [(ngModel)]="model.username">
        <input class="form-control mr-sm-2" name="password" type="password" required placeholder="Password"
          [(ngModel)]="model.password">
        <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
      </form>
    </div>
  </div>

</nav>
