
<form>
  <div class="form-group form-inline">
      Full text search: <input class="form-control ml-2" type="text" name="searchTerm"/>
  </div>

  <table class="table table-striped">
    <thead>
    <!-- <tr>
      <th scope="col">#</th>
      <th scope="col" sortable="name">Post</th>
      <th scope="col" sortable="area">User</th>
      <th scope="col" sortable="population">Date</th>
      <th scope="col" sortable="population">Comments</th>
    </tr> -->
    </thead>
    <tbody>
    <tr *ngFor="let post of postResponseDtos">
      <td>{{post.postTitle}}</td>
      <td>{{post.username}}</td>
      <td>{{post.creationDate}}</td>
      <td>{{post.commentInfo}}</td>
    </tr>
    </tbody>
  </table>

</form>
